
.container{
    margin-left: 20px;
    margin-right: 20px;
}
.navigation__items {
    display: flex;
    flex-direction: row;
    text-align:center;
    line-height: 1.5em;
    justify-content: space-evenly;
    
    font:xxlarge;
    
}
ul{
    list-style-type: none;
    
}

a{
    color:white;
    
}

header {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    
}
.name-intro{
    text-decoration: underline;
}

.name{
    font-size: xxx-large;
    
}


/* .grid {
    display: flex;
    grid-template-columns: 6fr 4fr;
    max-width: 1366px;
    margin-left: 20px;
    margin-right: auto;
    column-gap: 20px;
    flex-direction: column;
} */
.about-skills{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-direction: row-reverse;

}
.main-content__title{
    padding-left: 5px;
}

.about-title{
    width: 50%;
    border: white;
    border:solid;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 20px;
    
}
.skills-main{
    padding-left: 50px;
}
.skill-content{
   padding-right: 5em;
   width:100%; 

}
p{
    padding: 15px;
}
.projects-main{
    border: white;
    border:solid;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 20px;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    height: 100%;
    color: #e6e8e6;
    background-color: #191919;
    flex-direction: column;
    background-image: url(../images/blackmist.jpg);
    min-height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.email{
    padding: 0px;
    margin: 0;
}
.github{
    padding:0px;
    padding-bottom: 20px;
    margin:0px;
}
.linkedin{
    padding: 0px;
    margin: 0; 
}


